::-webkit-scrollbar {
	width: 0;
  }
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
	--navbar-menu-color:  hsl(0, 0%, 15%);
	--navbar-bg-color: hsl(0, 0%, 10%);
	--navbar-text-color: hsl(0, 0%, 100%);
	--navbar-text-color-focus: white;
	--navbar-bg-contrast: hsl(0, 0%, 25%);
  
}
html {
    height: 100%;
    background-image: url(https://cdna.artstation.com/p/assets/images/images/023/094/088/4k/tobias-hofmann-forest-night.jpg?1578063534);
    scroll-behavior: smooth;
}
body {
    font-family: raleway_f, sans-serif;
    height: 100%;
    
   
}

@font-face {
	font-family: raleway_f;
	src: url(/fonts/raleway-regular.woff2);
}

@font-face {
	font-family: raleway_f;
	src: url(/fonts/raleway-black.woff2);
	font-weight: 900;
}





.wrapper{
min-height: 100%;
display: flex;
flex-direction: column;


}




.videos2{
  margin-top: 10vh;
  display: flex;
  gap: 40px;
  margin-left: 5vh;

}

.video .caption {
  color: #fff;
  font-size: 14px;
}

@media only screen and (max-width: 1100px) {
  .videos, .videos2 {
    flex-direction: column;
  }
}
     
      @media only screen and (max-width: 1100px) {
        .videos, .videos2 {
          flex-direction: column;
        }
      }
    
  
